<section id="contact" style="padding: 160px 0 20px 0">
    <div class="container">
        <div class="section-header" style="padding: 0 0 20px 0">
            <h3 class="section-title">ЗАКОНОДАТЕЛЬСТВО ОБ АДМИНИСТРАТИВНЫХ ПРОЦЕДУРАХ</h3>
        </div>
        <div style="text-align:justify">
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=h10800433">1. ЗАКОН РЕСПУБЛИКИ БЕЛАРУСЬ ОТ 28.10.2008 № 433-З «Об основах административных процедур»</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=P31800202">2. УКАЗ ПРЕЗИДЕНТА РЕСПУБЛИКИ БЕЛАРУСЬ ОТ 24.05.2018 № 202 «О службе «одно окно»</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=P31000200">3. УКАЗ ПРЕЗИДЕНТА РЕСПУБЛИКИ БЕЛАРУСЬ ОТ 26.04.2010 № 200 «Об административных процедурах, осуществляемых государственными органами и иными организациями по заявлениям граждан»</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=C21200156">4. ПОСТАНОВЛЕНИЕ СОВЕТА МИНИСТРОВ РЕСПУБЛИКИ БЕЛАРУСЬ ОТ 17.02.2012 № 156 «Об утверждении единого перечня административных процедур, осуществляемых государственными органами и иными организациями в отношении юридических лиц и индивидуальных предпринимателей, внесении дополнения в постановление Совета Министров Республики Беларусь от 14 февраля 2009 г. № 193 и признании утратившими силу некоторых постановлений Совета Министров Республики Беларусь»</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=C21700529">5. ПОСТАНОВЛЕНИЕ СОВЕТА МИНИСТРОВ РЕСПУБЛИКИ БЕЛАРУСЬ ОТ 14.07.2017 № 529 «Об административных процедурах, подлежащих осуществлению в электронной форме»</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=C21800740">6. ПОСТАНОВЛЕНИЕ СОВЕТА МИНИСТРОВ РЕСПУБЛИКИ БЕЛАРУСЬ ОТ 17.10.2018 № 740 «О перечне административных процедур, прием заявлений и выдача решений по которым осуществляются через службу «одно окно»</a>
            </p>
            <p>
                <a href="http://pravo.by/document/?guid=3961&p0=C21800741">7. ПОСТАНОВЛЕНИЕ СОВЕТА МИНИСТРОВ РЕСПУБЛИКИ БЕЛАРУСЬ ОТ 17.10.2018 № 741 «О некоторых мерах по реализации Указа Президента Республики Беларусь от 24 мая 2018 г. № 202»</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=p00600002">8. ДИРЕКТИВА ПРЕЗИДЕНТА РЕСПУБЛИКИ БЕЛАРУСЬ от 27.12.2006 № 2 «О дебюрократизации государственного аппарата и повышении качества обеспечения жизнедеятельности населения»</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=C21700445">9. ПОСТАНОВЛЕНИЕ СОВЕТА МИНИСТРОВ РЕСПУБЛИКИ БЕЛАРУСЬ ОТ 13.06.2017 № 445 «Об утверждении перечня сложных и многоступенчатых административных процедур, осуществляемых уполномоченными органами в отношении граждан (кроме индивидуальных предпринимателей)»</a>
            </p>
            <p>
                <a href="http://www.pravo.by/document/?guid=3871&p0=C21700445">10. ПОСТАНОВЛЕНИЕ МИНИСТЕРСТВА ЮСТИЦИИ РЕСПУБЛИКИ БЕЛАРУСЬ ОТ 07.05.2009 № 39 «Об утверждении Инструкции о порядке ведения делопроизводства по административным процедурам в государственных органах, иных организациях»</a>
            </p>
        </div>
    </div>
</section>