<script src="~/js/uppod-0.13.05.js"></script>

<section id="contact" style="padding: 160px 0 20px 0">
    <div class="container">
        <div class="section-header" style="padding: 0 0 20px 0">
            <h3 class="section-title">ЗАКОНОДАТЕЛЬСТВО ОБ АДМИНИСТРАТИВНЫХ ПРОЦЕДУРАХ</h3>
        </div>
        <div style="text-align:center">
            <div>
                <br />
                <p><b>Камера службы «одно окно» администрации Заводского района г. Минска</b></p>
            </div>
            <div class="player" id="videoplayer"></div>

            <div>
                <br />
                <p><b>Камера службы «одно окно» администрации Заводского района г. Минска</b></p>
            </div>
            <div class="player" id="videoplayer1"></div>

            <div>
                <br />
                <p><b>Камера службы «одно окно» администрации Московского района г. Минска</b></p>
            </div>
            <div class="player" id="videoplayer2"></div>
        </div>
    </div>
</section>

<script type="text/javascript">this.player = new Uppod({ m: "video", uid: "videoplayer", file: "http://87.252.228.220:8081/14/2/playlist.m3u8", poster: "https://images.wallpaperscraft.ru/image/kamera_minimalizm_fon_66173_1280x720.jpg" });</script>
<script type="text/javascript">this.player = new Uppod({ m: "video", uid: "videoplayer1", file: "http://87.252.228.220:8081/1/2/playlist.m3u8", poster: "https://images.wallpaperscraft.ru/image/kamera_minimalizm_fon_66173_1280x720.jpg" });</script>
<script type="text/javascript">this.player = new Uppod({ m: "video", uid: "videoplayer2", file: "http://87.252.228.220:8081/live/sub/mosadm/playlist.m3u8", poster: "https://images.wallpaperscraft.ru/image/kamera_minimalizm_fon_66173_1280x720.jpg" });</script>