@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #2dc997;
}

    a:hover, a:active, a:focus {
        color: #2dca98;
        outline: none;
        text-decoration: none;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Prelaoder */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    display: inline;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px 12px 10px 12px;
    font-size: 15px;
    border-radius: 10px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #2dc997;
    color: #fff;
}


/*--------------------------------------------------------------
# Begin Header
--------------------------------------------------------------*/
#header {
    padding: 25px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

    #header #logo {
        float: left;
    }

        #header #logo h1 {
            font-size: 36px;
            margin: 0;
     
            line-height: 1;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

            #header #logo h1 a, #header #logo h1 a:hover {
                color: #fff;
            }

        #header #logo img {
            padding: 0;
            margin: 0;
        }

@media (max-width: 768px) {
    #header #logo h1 {
        font-size: 26px;
    }

    #header #logo {
        display: none;
    }

    #header #logo img {
        max-height: 40px;
    }
}

#header.header-fixed {
    background: rgba(52, 59, 64, 0.9);
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
}

/*--------------------------------------------------------------
# End Header
--------------------------------------------------------------*/

    /*--------------------------------------------------------------
# Begin Hero Section
--------------------------------------------------------------*/
    #hero {
        width: 100%;
        background-size: cover;
        position: relative;
    }

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero .hero_video-box {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: center;
    overflow: hidden;
    z-index: -999;
    min-height: 100%;
    max-height: 100%;
    display: block;
    width: 100%;
    height: 100vh;
    max-width: 2560px;
}

#hero .hero_video_before {
    content: "";
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#hero .hero_video {
    display: block;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    width: 125%;
}

#hero h1 {
    margin: 0px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

#hero h2 {
    color: #eee;
    margin-bottom: 0px;
    font-size: 32px;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

    #hero .btn-get-started:hover {
        background: #2dc997;
        border: 2px solid #2dc997;
    }

@media (max-width: 1400px) {

    #hero .hero_video-box {
        height: 100%;
    }

    #hero .hero_video {
        height: 100%;
    }
}

/*--------------------------------------------------------------
# End Hero Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Begin Navbar
--------------------------------------------------------------*/
/*Select Language*/
.SelectLanguage {
    position: fixed;
    display: inline;
    right: 250px;
    top: 25px;
    background: rgba(0, 0, 0, 0.0);
    border: 0;
    background-color: rgba(0, 0, 0, 0.0);
    color: #fff;
}

    .SelectLanguage option {
        color: rgba(52, 59, 64, 0.9);
        background: rgba(0, 0, 0, 0.0);
        background-color: rgba(0, 0, 0, 0.0);
    }

/* Navbar language select*/
.navbar-search {
    position: fixed;
    display: inline;
    background: none;
    color: #fff;
    border: 0;
    border-radius: 10px;
    right: 15px;
    top: 15px;
}

/* Navbar button eye*/
.navbar-eye {
    position: fixed;
    display: inline;
    background: none;
    color: #fff;
    border: 0;
    padding: 1px 7px 1px 7px;
    font-size: 30px;
    border-radius: 10px;
    left: 15px;
    top: 15px;
    cursor: pointer;
    transition: color 0.7s;
}

    .navbar-eye:hover {
        color: #2dc997;
        outline: none;
    }

/* Navbar button */
.navbar-togglers {
    color: #fff;
    background: none;
    color: #fff;
    border: 0;
    padding: 1px 7px 1px 7px;
    font-size: 35px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: color 0.7s;
}

    .navbar-togglers:hover {
        color: #2dc997;
        outline: none;
    }

/* Navbar */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(52, 59, 64, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 20px 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    outline: none;
    text-decoration: none;
    background-image: linear-gradient( #2dc997, #2dc997);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

    .overlay a:hover, .overlay a:focus {
        background-size: 100% 2px;
    }

.overlay .closebtn {
    color: #fff;
    background: none;
    color: #fff;
    border: 0;
    padding: 1px 7px 1px 7px;
    font-size: 35px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: color 0.7s;
}

    .overlay .closebtn :hover {
        color: #2dc997;
        outline: none;
    }

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

}
/*--------------------------------------------------------------
# End Navbar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
 # Begin Marketing
--------------------------------------------------------------*/
.circle {
    width: 300px; /* задаете свои размеры */
    height: 200px;
    overflow: hidden;
    background: #fff;
    margin: 5px;
}

    .circle a:hover {
        border: #2dc997 2px inset;
    }

/*--------------------------------------------------------------
# End Marketing
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Begin Footer
--------------------------------------------------------------*/
#footer {
    background: #343b40;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
}

    #footer .copyright {
        text-align: center;
    }

    #footer .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #ccc;
    }
/*--------------------------------------------------------------
# End Footer
--------------------------------------------------------------*/

