<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">«Контакт-центр»</h3>
                <p class="cta-text"> Отдел «Контакт-центр» является структурным подразделением КУП «Минское городское агентство обслуживания населения», обеспечивающим предоставление услуг справочно-информационного характера на безвозмездной основе по телефонному номеру 142 и работу «горячей линии» председателя Мингорисполкома. </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#call-to-action" onclick="openCallCenter()">Подробнее</a>
            </div>
        </div>
    </div>

    <div id="myCollCenter" class="fullScreen">
        <a href="javascript:void(0)" class="closebtn" onclick="closeCallCenter()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
        <div class="fullScreen-content">
            <div class="container" style="text-align:left">
                <h2 class="title" style="text-align:center">Об отделе «Контакт-центр»</h2>
                <p>
                    Отдел «Контакт-центр» является структурным подразделением КУП «Минское городское агентство обслуживания населения», обеспечивающим предоставление услуг справочно-информационного характера на безвозмездной основе по телефонному номеру 142 и работу «горячей линии» председателя Мингорисполкома.
                    <br />
                    <b>Отдел выполняет также иные задачи:</b>
                </p>
                <div class="icon-box">
                    <div class="icon"><i class="fa  fa-bullhorn"></i></div>
                    <p class="description">организация и проведение тематических дней информирования населения по различным актуальным вопросам, входящим в компетенцию Мингорисполкома, его структурных подразделений, администраций районов, организаций коммунальной собственности г.Минска, с участием городских и республиканских СМИ;</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-line-chart"></i></div>
                    <p class="description">количественный и тематический анализ звонков и других запросов, поступивших в справочно-информационную службу «Контакт-центр» и на «горячую линию» председателя Мингорисполкома;</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa Example of exclamation-triangle fa-exclamation-triangle"></i></div>
                    <p class="description">информирование Мингорисполкома об обнаруженных при оказании услуг ошибках и неточностях в контактной информации, размещаемой на Интернет-страницах и сайтах структурных подразделений Мингорисполкома, администраций районов, организаций коммунальной собственности г.Минска;</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="fa fa-handshake-o"></i></div>
                    <p class="description">организация в средствах массовой информации тематических рубрик, сюжетов, публикаций, размещения на официальном Интернет-портале Мингорисполкома информации о работе с населением справочно-информационной службы «Контакт-центр» и «горячей линии» председателя Мингорисполкома.</p>
                </div>
                <p>
                    <b>Справочно-информационная служба «Контакт-центр» Мингорисполкома</b>
                    <br />
                    По короткому телефонному номеру 142 предоставляется населению справочная информация:
                    <ul>
                        <li>об административных процедурах, прием и выдача документов по которым осуществляется через службу «одно окно» Мингорисполкома и администраций районов г. Минска;</li>
                        <li>поиск и выдача оперативной информации по документам, направленным в Минский горисполком гражданами и юридическими лицами, органами государственного управления, посредством автоматизированной системы управления документооборотом Мингорисполкома;</li>
                        <li>о письменных и электронных обращениях граждан и юридических лиц, поступивших в Мингорисполком;</li>
                        <li>о графике приема и порядке записи на личный прием к руководству Мингорисполкома и его структурных подразделений;</li>
                        <li>информирование о порядке решения проблем граждан по вопросам, входящим в компетенцию Мингорисполкома, его структурных подразделений, администраций районов, организаций коммунальной собственности г.Минска;</li>
                        <li>об адресах, номерах телефонов, режиме работы Мингорисполкома, его структурных подразделений, городских служб, администраций районов г.Минска;</li>
                        <li>информирование по прочим вопросам в соответствии с договорными обязательствами Предприятия.</li>
                    </ul>
                </p>
                <p>Справочная информация по телефону 142 предоставляется бесплатно.</p>
                <p>Звонок со стационарного телефона – по тарифам РУП «Белтелеком»,с мобильного телефона (<em>life</em>, <em>velcom/А1</em>, MTC) – по тарифам операторов связи.</p>
                <p>
                    <b>«Горячая линия» председателя Мингорисполкома</b>
                </p>
                <p>
                    Работа «горячей линии» председателя Мингорисполкома осуществляется в соответствия с постановлением Совета Министров Республики Беларусь от 23 июля 2012 г. № 667 «О некоторых вопросах работы с обращениями граждан и юридических лиц». (оставляем гиперссылку на нпа)
                </p>
                <p>
                    Граждане и юридические лица обращаются по телефону на «горячую линию» председателя Мингорисполкома по вопросам справочно-консультационного характера, связанным с деятельностью Мингорисполкома и его структурных подразделений. <br>
                    <b>Обращения, которые поступили на «горячую линию» председателя Мингорисполкома, не подлежат регистрации.</b><br>
                    «Горячая линия» председателя Мингорисполкома отвечает на звонки в будние дни <b>с 9.00 до 13.00</b> по телефону <b>328-55-66</b>.
                </p>
            </div>
        </div>
    </div>
</section><!-- #call-to-action -->

<script>
    function openCallCenter() {
        document.getElementById("myCollCenter").style.width = "100%";
    }

    function closeCallCenter() {
        document.getElementById("myCollCenter").style.width = "0%";
    }
</script>
