<section id="contact" style="padding: 80px 0 20px 0">
    <div class="container">
        <div class="section-header" style="padding: 0 0 20px 0">
            <h3 class="section-title">Контакты</h3>
            <!--<p class="section-description"></p>-->
        </div>
    </div>

    <!-- Яндекс карта -->
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adf019a8b5489213833c8fd43d62922df57bf4d02380de8844d902a0699febcc3&amp;width=100%25&amp;height=546&amp;lang=ru_RU&amp;scroll=true"></script>

    <div class="container" style="padding: 40px;">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <!--Контакты-->
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>
                            Республика Беларусь,<br>220004, г. Минск,<br />
                            ул. М.Танка, 36, корп.1, пом. 1Н,
                            (часть первого этажа) проезд до ст. метро Молодежная
                        </p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p> info@mgaon.by </p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+375 (17) 364 66 34</p>
                    </div>

                </div>
            </div>

            <!--Обратная связь-->
            <div class="col-lg-6 col-md-8">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center" style="padding:20px"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>

            <!--Режим работы-->
            <div class="col-lg-3 col-md-4">
                <div class="info">
                    <div>
                        <i class="fa fa-calendar"></i>
                        <p>
                            понедельник-четверг: с 8.45 до 18.00 <br />
                            пятница: с 8.45 до 16.45 <br />
                            обед: с 13.00 до 14.00 <br />
                            суббота, воскресенье: выходные
                        </p>
                    </div>
                    <div>
                        <i class="fa  fa-university"></i>
                        <p>
                            Вышестоящая организация <br \>
                            <a href="https://minsk.gov.by/ru/">Минский городской исполнительный комитет</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- #contact -->