@model Website.Models.UsersSendEmail.Person

<section id="contact" style="padding: 80px 0 20px 0">
    <div class="container">
        <div class="section-header" style="padding: 0 0 20px 0">
            <h3 class="section-title">Контакты</h3>
            <!--<p class="section-description"></p>-->
        </div>
    </div>

    <!-- Яндекс карта -->
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adf019a8b5489213833c8fd43d62922df57bf4d02380de8844d902a0699febcc3&amp;width=100%25&amp;height=546&amp;lang=ru_RU&amp;scroll=true"></script>

    <div class="container" style="padding: 40px;">
        <div class="row">
            <div class="col-lg-3 col-md-4">

                <!--Контакты-->
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>
                            Республика Беларусь,<br>220004, г. Минск,<br />
                            ул. М.Танка, 36, корп.1, пом. 1Н,
                            (часть первого этажа) проезд до ст. метро Молодежная
                        </p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p> info@mgaon.by </p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+375(17)364-66-34</p>
                    </div>

                </div>
            </div>

            <!--Обратная связь-->
            <div class="col-lg-6 col-md-8">
                <div class="form">
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" class="form-control" name="fullName" id="fullName" placeholder="ФИО*" required />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Электронная почта" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="tel" id="tel" placeholder="Контактный телефон" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" placeholder="Сообщение*" maxlength="1000"></textarea>
                        </div>
                        <div class="text-center" style="padding:20px">
                            <button type="button" formnovalidate value="SendEmail" id="buttonSendEmail" >Отправить сообщение</button>
                        </div>
                    </form>
                </div>
            </div>

            <!--Режим работы-->
            <div class="col-lg-3 col-md-4">
                <div class="info">
                    <div>
                        <i class="fa fa-calendar"></i>
                        <p>
                            понедельник-четверг: с 8.45 до 18.00 <br />
                            пятница: с 8.45 до 16.45 <br />
                            обед: с 13.00 до 14.00 <br />
                            суббота, воскресенье: выходные
                        </p>
                    </div>
                    <div>
                        <i class="fa  fa-university"></i>
                        <p>
                            Вышестоящая организация <br \>
                            <a href="https://minsk.gov.by/ru/">Минский городской исполнительный комитет</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #contact -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="resultSendEmail"></h5>
                <div>
                    <p id="resultName" />
                </div>
                <div>
                    <p id="resultMessage" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //ajax сробатывает при отправе сообщения, чтобы частично обновлять представление
    $(document).ready(function () {
        $('#buttonSendEmail').click(function () {
            ValidName();
            ValidMessage();
            if (_validName == true && _validMessage == true) {
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'GET',
                    url: '/home/sendEmail',
                    traditional: true,
                    data: { Name: $('#fullName').val(), Email: $('#email').val(), Phone: $('#tel').val(), Message: $('#message').val() },
                    success: function (result) {
                    $('#resultSendEmail').html(result);
                    }
                });
               
                $('#exampleModalCenter').modal('show')
            }
        });
    });

    // Создание масок.
    $(function () {
        $("#tel").mask("8(099) 99-99-999");
    });
</script>