@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<section id="covid19">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <div class="row">
                    <img class="icon" src="~/img/Covid19/coronavirus-logo-white.png" />
                    <h3 class="cta-title">COVID-19 </h3>
                </div>

                <p class="cta-text">@Localizer["Title"]</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#covid19" onclick="openCORONAVIRUS()">@Localizer["Detailed"]</a>
            </div>
        </div>
        <div id="myCORONAVIRUS" class="fullScreen">
            <a href="javascript:void(0)" class="closebtn" onclick="closeCORONAVIRUS()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
            <div class="fullScreen-content">
                <div style="text-align:left">
                    <div class="row" style="padding:20px 20px 20px 20px;">
                        <div class="col-xl-3 colm-lg-3 col-md-6 col-sm-12"><img src="~/img/Covid19/для родителей (35).tif" width="400" tabindex="0" /></div>
                        <div class="col-xl-3 colm-lg-3 col-md-6 col-sm-12"><img src="~/img/Covid19/htmlimage60.jpg" width="400" tabindex="0" /></div>
                        <div class="col-xl-3 colm-lg-3 col-md-6 col-sm-12"><img src="~/img/Covid19/htmlimage1.jpg" width="400" tabindex="0" /></div>
                        <div class="col-xl-3 colm-lg-3 col-md-6 col-sm-12"><img src="~/img/Covid19/htmlimage.jpg" width="400" tabindex="0" /></div>
                    </div>
                    <div class="container">
                        <br /><br />
                        <p style="text-align:center"><b>ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ ПО КОРОНАВИРУСНОЙ ИНФЕКЦИИ</b></p>
                        <p>
                            <b>Что такое коронавирус и как происходит заражение?</b>
                            Новый коронавирус – респираторный вирус. Он передается главным образом воздушно-капельным путем в результате вдыхания капель, выделяемых из дыхательных путей больного, например при кашле или чихании, а также капель слюны или выделений из носа. Также он может распространяться, когда больной касается любой загрязненной поверхности, например дверной ручки. В этом случае заражение происходит при касании рта, носа или глаз грязными руками.
                            <br /><br />
                            <b>Какие симптомы у коронавируса?</b> <br />
                            Основные симптомы коронавируса: <br />
                            - Повышенная температура <br />
                            - Кашель <br />
                            - Затрудненное дыхание <br />
                            В подавляющем большинстве случаев данные симптомы связаны не с коронавирусом, а с обычной ОРВИ.
                            <br /> <br />
                            <b>Как передается коронавирус?</b>
                            <br />
                            Пути передачи: <br />
                            - Воздушно-капельный (выделение вируса происходит при кашле, чихании, разговоре); <br />
                            - Контактно-бытовой (через предметы обихода) <br />
                            <br />
                            <b>Какие меры по профилактике коронавируса существуют?</b><br />
                            Самое важное, что можно сделать, чтобы защитить себя – это соблюдать правила личной гигиены и сократить посещения общественных и людных мест. Держите руки в чистоте, часто мойте их водой с мылом или используйте дезинфицирующее средство.
                            <br />
                            Старайтесь не касаться рта, носа или глаз немытыми руками (обычно такие прикосновения неосознанно свершаются нами в среднем 15 раз в час). На работе регулярно очищайте поверхности и устройства, к которым вы прикасаетесь (клавиатура компьютера, панели оргтехники общего использования, экран смартфона, пульты, дверные ручки и поручни). Носите с собой одноразовые салфетки и всегда прикрывайте нос и рот, когда вы кашляете или чихаете.
                            <br />
                            Не ешьте еду (орешки, чипсы, печенье и другие снеки) из общих упаковок или посуды, если другие люди погружали в них свои пальцы. Объясните детям, как распространяются микробы и почему важна хорошая гигиена рук и лица. Расскажите детям о профилактике коронавируса. Часто проветривайте помещения.
                            <br />
                            Если вы обнаружили симптомы, схожие с теми, которые вызывает коронавирус, оставайтесь дома и вызывайте врача.
                            <br /><br />
                            <b>Помогают ли маски при инфекционных заболеваниях?</b><br />
                            Использование одноразовой медицинской маски снижает риск заболевания вирусными инфекциями, которые передаются воздушно-капельным путем (при кашле, чихании). Для больных ОРВИ ношение маски обязательно, маску каждые 2 часа нужно менять.
                            <br /><br />
                            <b>В течение, какого времени могут проявиться симптомы новой коронавирусной инфекции?</b><br />
                            Симптомы могут проявиться в течение 14 дней после контакта с инфекционным больным.<br />
                            <br />
                            <b>Какие осложнения могут быть после коронавирусной инфекции?</b><br />
                            Новая коронавирусная инфекция относится к острым респираторным вирусным инфекциям (ОРВИ) и осложнения у нее могут быть такие же, как и у других ОРВИ – пневмония, бронхит, синусит и другие.
                            <br /><br />
                            <b>Где я могу сдать анализ на коронавирус?</b>
                            Самостоятельная сдача анализов на коронавирус в г.Минске не предусмотрена! <br />
                            Тест на наличие коронавируса проводится по желанию или попоказаниям? <br />
                            Тест на наличие коронавируса назначается только по показаниям и исключительно врачом медицинской организации (поликлиники, больницы или скорой медицинской помощи).
                            <br /><br />
                            <b>Что делать, если я прилетел из-за границы?</b><br />
                            Если Вы прибыли из любой страны, где зарегистрированы случаи новой коронавирусной инфекции, то Вам необходимо находиться на самоизоляции по месту своего жительства в течение 14 дней со дня пересечения границы. Режим самоизоляции необходимо соблюдать и людям, проживающим вместе с вами.
                            <br /><br />
                            <b>Нужно ли соблюдать режим самоизоляции при отсутствии каких-либо симптомов?</b> <br />
                            Если Вы прибыли из любой страны, где зарегистрированы случаи новой коронавирусной инфекции, режим самоизоляции, даже при отсутствии каких-либо симптомов, необходимо соблюдать 14 дней. При наличии признаков ОРВИ необходимо вызвать врача на дом, врач назначит лечение.
                            <br /><br />
                            <b>Где размещаются на самоизоляции граждане, которые прибыли из эпидемиологически неблагополучных стран, но не имеют признаков ОРВИ?</b><br />
                            Необходимо по приезду перейти в режим самоизоляции, то есть не покидать жилище, не посещать работу, учебу, не приглашать к себе гостей. Обращаем внимание, режим самоизоляции необходимо соблюдать и людям, проживающим вместе с вами.  Если у Вас появились симптомы ОРВИ, незамедлительно вызывайте врача.
                            <br /> <br />
                            <b>Что нельзя делать во время самоизоляции?</b><br />
                            Нельзя покидать место своего проживания, посещать учебу и работу. Режим самоизоляции необходимо соблюдать и людям, проживающим вместе с вами. Риск инфицирования членов семьи снижается, если соблюдать основные гигиенические требования – использовать маску, индивидуальную посуду, часто мыть руки и пользоваться кожными антисептиками, регулярно проветривать помещения и проводить уборку помещений.
                            <br /><br />
                            <b>Как лечат людей, пока они ждут результаты анализов? Какими медикаментами?</b> <br />
                            Лечение назначает лечащий врач. Самолечение противопоказано.
                            <br /><br />
                            <b>Почему врачи покидают больницу, хотя сами контактировали с пациентами, имеющими подтвержденный анализ на коронавирус?</b><br />
                            Во время работы персонал использует средства индивидуальной защиты (маски, респираторы, перчатки, медицинские шапочки). В конце каждой смены медперсонал сдает экипировку для утилизации и проходит полную санитарную обработку (душ с моющими и дезинфицирующими средствами).
                            <br /><br />
                            <b>Могут ли родственники посещать пациента, который проходит лечение по коронавирусной инфекции в больнице?</b><br />
                            В период, пока пациент находится на лечении, родственники посещать его не могут. Эти меры введены для предотвращения распространения заболевания. Однако все, кто находятся на лечении в стационаре, всегда могут воспользоваться мобильным телефоном для связи с родными.
                            <br /><br />
                            <b>Какие меры нужно соблюдать после выписки из стационара?</b><br />
                            После выписки необходимо соблюдать такие же меры профилактики вирусных инфекций, как и здоровым людям, – избегать массовых скоплений людей, мыть руки, проветривать помещения и т.д.
                            <br /><br />
                            <b>Что мне делать, если я прилетел из страны с неблагополучной эпидситуацией, и у меня поднялась температура?</b><br />
                            Если у Вас признаки ОРВИ (лихорадка, кашель и др.) незамедлительно вызывайте врача на дом или «скорую помощь»!?
                            <br /><br />
                            <b>Кто входит в группу риска по коронавирусной инфекции?</b><br />
                            В группе риска - люди старше 60 лет, а также пациенты с хроническими болезнями: сахарным диабетом, бронхиальной астмой, ишемической болезнью сердца, онкологическими заболеваниями.

                        </p>
                    </div>

                    <div id="carouselExampleControls" class="container carousel slide caro" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="~/img/Covid19/MinZdrav/Page_00001.jpg">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="~/img/Covid19/MinZdrav/Page_00002.jpg">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="~/img/Covid19/MinZdrav/Page_00003.jpg">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="~/img/Covid19/MinZdrav/Page_00004.jpg">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="~/img/Covid19/MinZdrav/Page_00005.jpg">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>

<script>
    function openCORONAVIRUS() {
        document.getElementById("myCORONAVIRUS").style.width = "100%";
    }

    function closeCORONAVIRUS() {
        document.getElementById("myCORONAVIRUS").style.width = "0%";
    }
</script>
