<section id="facts">
    <div class="container">
        <div class="section-header">
            <h3 class="section-title">Факты</h3>
            <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <div class="row counters">

            <div class="col-lg-2 col-6 text-center">
                <span>232</span>
                <p>Клиенты</p>
            </div>

            <div class="col-lg-2 col-6 text-center">
                <span>521</span>
                <p>Юр.лица</p>
            </div>

            <div class="col-lg-2 col-6 text-center">
                <span>1,463</span>
                <p>Физики</p>
            </div>

            <div class="col-lg-2 col-6 text-center">
                <span>15</span>
                <p>Адм. юр</p>
            </div>

            <div class="col-lg-2 col-6 text-center">
                <span>12</span>
                <p>Адм. физики</p>
            </div>

            <div class="col-lg-2 col-6 text-center">
                <span>107</span>
                <p>Персонал</p>
            </div>
        </div>
    </div>
</section><!-- #facts -->