@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<Website.Models.WebSiteBD.SummaryOneWin>

<section id="facts">
    <div class="container">
        <div class="section-header">
            <h3 class="section-title">Факты</h3>
            <p class="section-description">о работе служб «одно окно» администраций районов г. Минска и Мингорисполкома <br />    Данные приводятся с 01.01.2020</p>
        </div>
        <div class="row counters">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <span>@item.SummClients</span>
                    <p>принято всего заявлений</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <span>@item.SummLegalPerson</span>
                    <p>принято заявлений юридических лиц</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <span>@item.SummPhysicalPerson</span>
                    <p>принято заявлений физических лиц</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <span>@item.SummAdm</span>
                    <p>выдано административных решений</p>
                </div>
            }
        </div>
    </div>
</section><!-- #facts -->