@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Website.Models.ModelsView.IndexViewModels

<main id="main">
    <!--      About Us Section-->
    @{Html.RenderPartial("About");}

    <!--      Facts Section-->
    @{Html.RenderPartial("Facts", Model);}

    <!--      Area Section-->
    @{Html.RenderPartial("Area");}

    <!--    Call-Center Section-->
    @{Html.RenderPartial("CallCenter");}

    <!--      News Section-->
    @{Html.RenderPartial("News", Model);}

    <!--     Trade union organization Section-->
    @{Html.RenderPartial("TradeUnionOrganization");}

    <!--      Contact Section-->
    @{Html.RenderPartial("Contacts");}
</main>

