@model IEnumerable<Website.Models.WebSiteBD.NewsTable>

    <!-- График информирования-->
<div class="collapse container" id="multiCollapseExample2" style="padding:0">
    <div class="card card-body" style="border:0; padding:0;">
        <div class="text-center">
            <b>
                График проведения тематических дней информирования населения <br />
                в cправочно-информационной службе «Контакт-центр» Мингорисполкома (тел. 142)
            </b>
        </div>
        <table class="table table-hover home-content table-bordered">
            <thead>
                <tr>
                    <th>Дата, время проведения</th>
                    <th class="text-center">Тема дня информирования</th>
                    <th class="text-center">Ответственный исполнитель</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DateTime
                        <td>@item.Name
                        <td>@item.Executor
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>