@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="partner">
    <div class="container">
        <div class="text-center">
            <h3 class="cta-title">@Localizer["Partners"]</h3>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-5 padding">
                <div class="wrapper exmpl">
                    <a href="http://pravo.by" class="wrapper exmpl">
                        <img src="~/img/Partner/pravoby.png" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-5 padding">
                <div class="wrapper exmpl">
                    <a href="http://president.gov.by" class="wrapper exmpl">
                        <img src="~/img/Partner/president.png" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-5 padding">
                <div class="wrapper exmpl">
                    <a href="https://minsk.gov.by/ru/" class="wrapper exmpl">
                        <img src="~/img/Partner/IspCom.png" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-5 padding">
                <div class="wrapper exmpl">
                    <a href="http://www.ipps.by:9102/RatingPortal" class="wrapper exmpl">
                        <img src="~/img/Partner/rating.png" />
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>