<section id="trade-union-organization">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">«Профсоюз работников местной промышленностии коммунально-бытовых предприятий»</h3>
                <p class="cta-text">
                    Первичная профсоюзная организация коммунального унитарного предприятия «Минское городское агентство обслуживания населения» образована в июле 2016 г.
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    Председатель профкома
                                </td>
                                <td>
                                    Черник Марина Александровна <br />
                                    тел. 364 25 83
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Заместитель председателя
                                </td>
                                <td>
                                    Ившина Марина Валерьевна
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Казначей
                                </td>
                                <td>
                                    Коземирова Марина Ивановна
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Члены профкома
                                </td>
                                <td>
                                    Нечаева Ольга Владимировна, <br />
                                    Пантелеенко Леонид Алексеевич
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p>

            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#">Call To Action</a>
            </div>
        </div>
    </div>
</section><!-- #trade-union-organization -->