<section id="trade-union-organization">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">«Профсоюз работников местной промышленностии коммунально-бытовых предприятий»</h3>
                <p class="cta-text">
                    
                </p>

            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#trade-union-organization" onclick="openUnion()">Подробнее</a>
            </div>
        </div>
    </div>
</section><!-- #trade-union-organization -->

<div id="myUnion" class="fullScreen">
    <a href="javascript:void(0)" class="closebtn" onclick="closeUnion()"><span class="fa fa-close" style="color:rgb(52, 59, 64);"></span></a>
    <div class="fullScreen-content">
        <div class="container">
            <h2 class="title">«Профсоюз работников местной промышленностии коммунально-бытовых предприятий»</h2>
            Первичная профсоюзная организация коммунального унитарного предприятия «Минское городское агентство обслуживания населения» образована в июле 2016 г.
            <table class="table table-hover" style="text-align:left">
                <tbody>
                    <tr>
                        <td>
                            Председатель профкома
                        </td>
                        <td>
                            Черник Марина Александровна <br />
                            тел. 364 25 83
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Заместитель председателя
                        </td>
                        <td>
                            Ившина Марина Валерьевна
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Казначей
                        </td>
                        <td>
                            Коземирова Марина Ивановна
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Члены профкома
                        </td>
                        <td>
                            Нечаева Ольга Владимировна, <br />
                            Пантелеенко Леонид Алексеевич
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    function openUnion() {
        document.getElementById("myUnion").style.width = "100%";
    }

    function closeUnion() {
        document.getElementById("myUnion").style.width = "0%";
    }

</script>