@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="contact" style="padding: 140px 0 20px 0">
    <div class="container">
        <div class="section-header" style="padding: 0 0 20px 0">
            <h3 class="section-title">@Localizer["Partners"]ОБРАЩЕНИЕ К РУКОВОДСТВУ ПРЕДПРИЯТИЯ</h3>
            <p>Электронные обращения граждан, в том числе индивидуальных предпринимателей (далее – граждан), и юридических лиц, поступившие в КУП «Минское городское агентство обслуживания населения», рассматриваются в соответствия с требованиями Закона Республики Беларусь от 18 июля 2011 г. № 300-З «Об обращениях граждан и юридических лиц» (далее – Закон).</p>
            <p>В соответствии с Законом электронное обращение излагается на белорусском или русском языках.</p>
            <b>Электронное обращение гражданина в обязательном порядке должно содержать:</b>
            <ul>
                <li>фамилия, собственное имя, отчество (если имеется) или инициалы гражданина;</li>
                <li>адрес места его жительства (места пребывания);</li>
                <li>изложение сути обращения;</li>
                <li>адрес электронной почты гражданина.</li>
            </ul>
            <b>Электронное обращение юридического лица в обязательном порядке должно содержать:</b>
            <ul>
                <li>полное название юридического лица;</li>
                <li>место пребывания юридического лица;</li>
                <li>изложение сути обращения;</li>
                <li>фамилия, собственное имя, отчество (если имеется) или инициалы руководителя или лица, уполномоченного в установленном порядке подписывать обращения;</li>
                <li>адрес электронной почты юридического лица.</li>
            </ul>
            <p><b>Внимание!</b><br>К электронным обращениям, подаваемым представителями заявителей, должны прилагаться электронные копии документов, подтверждающих их полномочия (пункт 2 статьи 25 Закона).</p>
            <p>Согласно пункту 7 статьи 12 Закона в обращениях должна содержаться информация о результатах их предыдущего рассмотрения с приложением (при наличии) подтверждающих эту информацию документов.</p>
            <br />
            <p><b>Обращаем Ваше внимание, что на сообщения граждан или юридических лиц, направленные Предприятию посредством других рубрик данного сайта или на другие адреса электронной почты Предприятия, не распространяется действие Закона. Ответы на такие сообщения направляться не будут.</b></p>
            
            <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample" style="width:100%">Написать электронное обращение </button>

            <div class="collapse" id="collapseExample">
                <div class="card card-body" style="background-color:#f7f7f7">
                    <!--Для того чтобы переключаться между юр.лицами и физ сделан js script который создает и удаляет лишний input-->
                    <div class="form" id="profile">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" onclick="addInputNaturalPerson()">
                            <label class="custom-control-label" for="customRadio1">Обращения граждан</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2" onclick="addInputLegalPerson()">Обращения юридических лиц</label>
                        </div>
                        <form action="" method="post" role="form" class="contactForm" id="input0"></form>
                    </div>
                </div>
            </div>

            <p>
                <br />
                Обращения должны быть рассмотрены не позднее 15 дней со дня, следующего за днем регистрации обращения Предприятием, а которые требуют дополнительного изучения и проверки – не позднее 1 месяца.<br>
                Ответы на электронные обращения направляются в электронном виде на адрес электронной почты, обозначенный в электронном обращении, или в письменном виде на адрес места жительства (места пребывания) гражданина или места пребывания юридического лица в случаях, установленных Законом.
            </p>
            <p>
                <b>Оставляются без рассмотрения по существу электронные обращения, которые (по которым):</b><br>
                1. изложены не на белорусском или русском языке;<br>
                2. не содержат фамилии, собственного имени, отчества , адреса места жительства (места пребывания) гражданина;<br>
                3. не содержат полного названия юридического лица и адреса его места пребывания, фамилии, собственного имени, отчества руководителя или лица, уполномоченного в установленном порядке подписывать обращения (для юридических лиц), адреса электронной почты заявителя;<br>
                4. содержат текст, который невозможно прочитать;<br>
                5. содержат нецензурные или оскорбительные слова или выражения;<br>
                6. подаются представителями заявителей, и к ним не прилагаются электронные копии документов, которые подтверждают их полномочия;<br>
                7. подлежат рассмотрению в соответствии с законодательством о конституционном судопроизводстве, гражданским, гражданским процессуальным, хозяйственным процессуальным, уголовно-процессуальным законодательством, законодательством, которое определяет порядок административного процесса, законодательством об административных процедурах или в соответствии с законодательными актами установленный другой порядок подачи и рассмотрения таких обращений;<br>
                8. содержат вопросы, которые не относятся к компетенции Предприятия;<br>
                9. пропущен без уважительной причины срок подачи обращения;<br>
                10. направлено повторное обращение, если оно уже было рассмотрено и не содержит новых обстоятельств, которые имеют значение для рассмотрения обращения по существу;<br>
                11. с заявителем прекращена переписка.
            </p>
            <p>
                <b>Отзыв электронного обращения</b><br>
                Заявитель имеет право отозвать свое обращение, пока оно не рассмотрено по существу.<br>
                Отзыв электронного обращения осуществляется путем подачи письменного заявления или направления заявления в электронной форме тем же способом, которым было направленное электронное обращение.
            </p>
            <p>
                <b>Обжалование ответов на обращения</b><br>
                Ответ Предприятия на обращение или решение об оставлении обращения без рассмотрения по существу могут быть обжалованы в вышестоящую организацию – <a href="https://minsk.gov.by/ru/"> Минский городской исполнительный комитет </a> (220030, г.Минск, пр. Независимости, д. 8).
            </p>
            <b><p>График работы Мингорисполкома:</b><br>
            <table>
                <tr><td>понедельник-четверг &nbsp  </td><td>с 8.45 до 18.00</td></tr>
                <tr><td>пятница </td><td> c 8.45 до 16.45</td></tr>
                <tr><td>обед </td><td> с 13.00 до 14.00</td></tr>
                <tr><td>выходные </td><td> суббота, воскресенье</td></tr>
            </table>
        </div>
    </div>
</section>

<!-- Modal окно появляющееся при ошибке заполнения обращения, а также при успешной отправке обращения-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="resultSendEmail"></h5>
                <div>
                    <p id="resultDesignation" />
                </div>
                <div>
                    <p id="resultNameLegal" />
                </div>
                <div>
                    <p id="resultName" />
                </div>
                <div>
                    <p id="resultAddress" />
                </div>
                <div>
                    <p id="resultEmail" />
                </div>
                <div>
                    <p id="resultMessage" />
                </div>
            </div>
        </div>
    </div>
</div>
